<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Não Encontrada - 404</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="error-container">
        <h1>404</h1>
        <p>Oops! A página que você está procurando não foi encontrada.</p>
        <a th:href="@{/}" class="btn">Voltar para a Página Inicial</a>
    </div>
</body>
</html>